.DS_Store

.github/

20260409-pamoka/nd1_teisingas.py
20260409-pamoka/nd1_bloga_logika.py
20260409-pamoka/nd1_blogas_formatas.py
20260409-pamoka/nd1_runtime_klaida.py

20260423-pamoka/nd1-teisingas.py


